<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JYose</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">JYose</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="repository-link" href="https://github.com/testinfected/jyose">Github</a></li>
                <li><a id="contact-me-link" href="http://vtence.com">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container" role="main">
    <div class="jumbotron">
        <h1>Hello Yose</h1>

        <p>This is my take on the challenges proposed by Yose The Game.</p>

        <p><a href="http://yosethegame.com" class="btn btn-primary btn-lg" role="button">Learn
            more &raquo;</a></p>
    </div>
    <div class="page-header">
        <h2>Challenges</h2>
    </div>

    <div class="list-group">
      <a id="ping-challenge-link" href="http://jyose.herokuapp.com/ping" class="list-group-item">Ping</a>
    </div>

</div>
</body>
</html>