<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JYose</title>

  <link href="http://fonts.googleapis.com/css?family=Homenaje" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
  <link href="/css/yose.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="header">
    <ul>
      <li><strong>JYose</strong></li>
      <li><small><a id="repository-link" href="https://github.com/testinfected/jyose">Github</a></small></li>
      <li><small><a id="contact-me-link" href="http://vtence.com">Contact</a></small></li>
    </ul>
  </div>

  <div class="content">
    <h3>Hello Yose</h3>

    <ol>
      <li><small><a id="ping-challenge-link" href="/ping">ping</a></small></li>
      <li><small><a id="prime-factors-decomposition-link" href="/primeFactors/ui">prime factors</a></small></li>
      <li><small><a id="minesweeper-link" href="/minesweeper">minesweeper</a></small></li>
    </ol>
  </div>
</div>
</body>
</html>