<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JYose - Minesweeper</title>

    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link href="/css/yose.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="content">
        <h3 id="title">Minesweeper</h3>

        <table id="board">
            <tr><td id="cell-1x1"></td><td id="cell-1x2"></td></tr>
            <tr><td id="cell-2x1"></td><td id="cell-2x2"></td></tr>
        </table>
    </div>
</div>
</body>
</html>