<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>JYose - Minesweeper</title>

    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link href="/css/yose.css" rel="stylesheet">
    <script type="text/javascript" src="/js/minesweeper.js"></script>
</head>
<body>
<div class="container">
    <div class="content">
        <h3 id="title">Minesweeper</h3>

        <form>
            <label><input id="suspect-mode" type="checkbox"/>Flag suspects</label>
        </form>
        <table id="board">
        </table>
        <span id="test-mode">.</span>
    </div>
</div>
</body>
</html>