<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JYose - Primes</title>

    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link href="/css/yose.css" rel="stylesheet">
    <script type="text/javascript" src="/js/primes.js"></script>
</head>
<body>
<div class="container">
    <div class="content">
        <h3 id="title">Prime Factors</h3>

        <form id="primes" action="/primeFactors" method="post">
            <fieldset>
                <legend id="invitation">Enter a number to decompose:</legend>
                <ol>
                    <li><input id="number" type="text" name="number"/></li>
                </ol>
            </fieldset>
            <ol>
                <li><button id="go">Decompose</button></li>
            </ol>
        </form>
        <div id="last-decomposition"></div>
        <div id="result"></div>
        <ol id="results"></ol>
    </div>
</div>
<script type="text/javascript">
    primes.displayLastResult('{{.}}');
</script>
</body>
</html>