* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Homenaje", cursive;
    font-size: 28px;
    line-height: 1.5;
}

body {
    color: #515151;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: #268bd2;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    color: #303030;
}

ul, ol {
    margin-top: 0;
    padding: 0;
    margin-bottom: 1rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

fieldset ol {
    margin: 0;
}

input {
    line-height: 1.75em;
}

button {
    display: inline;
    padding: 5px 10px;
    text-align: center;
    background-color: white;
    border: solid #bababa 1px;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    max-width: 24rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    height: 2em;
}

.header ul {
    margin-left: 0;
    list-style-type: none;
}

.header li {
    display: inline;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    color: #505050;
    font-size: 1.25em;
}

.header a {
    color: #505050;
}

.header small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
}

.content ol {
    list-style-type: none;
}

#board {
    border-spacing: 0;
}

#test-mode {
    color: transparent;
    width: 1px;
    height: 1px;
}

#board td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #858585;
    background-color: #BCBCBC;
    cursor: pointer;
}

#board td.lost {
    background: #dddddd url(/images/bomb.png) no-repeat center center;
}

#board td.suspect {
    background: #BCBCBC url(/images/flag.png) no-repeat center center;
}

#board td.safe {
    background-color: #dddddd;
    color: #0E1BFC;
}

#board td.safe-2 {
    color: #0E840F;
}

#board td.safe-3 {
    color: #FD1612;
}

#board td.safe-4 {
    color: #0B1285;
}

#board td.safe-5 {
    color: #85100C;
}

#board td.safe-6 {
    color: #0B8686;
}

#board td.safe-7 {
    color: #0B0B0B;
}

#board td.safe-8 {
    color: #858585;
}

#suspect-mode {
    height: 2em;
    margin-right: 10px;
}



