* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Homenaje", cursive;
    font-size: 28px;
    line-height: 1.5;
}

body {
    color: #515151;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: #268bd2;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    color: #303030;
}

ul, ol {
    margin-top: 0;
    padding: 0;
    margin-bottom: 1rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

fieldset ol {
    margin: 0;
}

button {
    display: inline;
    padding: 5px 10px;
    text-align: center;
    background-color: white;
    border: solid #bababa 1px;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    max-width: 24rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    height: 2em;
}

.header ul {
    margin-left: 0;
    list-style-type: none;
}

.header li {
    display: inline;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    color: #505050;
    font-size: 1.25em;
}

.header a {
    color: #505050;
}

.header small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
}

.content ol {
    list-style-type: none;
}

